/*// Place all the styles related to the Simulator controller here.
// They will automatically be included in application.css.*/


body {
  text-align: center;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  background-repeat: no-repeat;
  background-image: url(http://www.openroaddrivingsuccess.uk/wpimages/wp2eaa2716_05_06.jpg);
  background-size: cover;
  text-shadow: 1px 1px white;
}

p {
  display:inline-block;
}

.carPanel {

  display: inline-block;
}

.carTitles, .carStats {
    width: 500px;
}

.carFunctions {
  width: 500px;
  float: left;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
}

input {
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
}

#brake_id, #gas_id {
  display: inline;
}
